.text1 {
  color: #021A56;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text2 {
  color: #AEB7CC;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

input.user[type="radio"] {
  visibility: hidden;
}

input.business[type="radio"] {
  visibility: hidden;
}

body {
  background-color: #f7f6f6
}

label.radio {
  cursor: pointer;
  width: 100% !important;
}

label.radio input {
  visibility: hidden;
  pointer-events: none;
  width: 100%
}

label.radio span {
  padding: 7px 14px;
  border: 1px solid #9C9C9C;
  display: flex;
  border-radius: 7px;
  width: 100%;
  height: 59px;
  align-items: center;
}

label.radio input:checked+span {
  border: 1px solid #F00 !important;
  box-shadow: 0px 0.11069px 2.21381px 0px rgba(255, 0, 0, 0.02),
    0px 0.266px 5.32008px 0px rgba(255, 0, 0, 0.03),
    0px 0.50086px 10.01724px 0px rgba(255, 0, 0, 0.04),
    0px 0.89345px 17.86905px 0px rgba(255, 0, 0, 0.04),
    0px 1.6711px 33.42209px 0px rgba(255, 0, 0, 0.05),
    0px 4px 80px 0px rgba(255, 0, 0, 0.07);
  color: #f00;
}


.emailStyle {
  height: 59px;
  color: #9C9C9C !important;
}


.home-btn {
  border-radius: 62px !important;
  background: #F00 !important;
  border-color: #F00 !important;
  width: 75%;
  height: 25%;
}

.home-btn-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.iconMargin {
  margin-right: 8px;
}

.emailStyle::placeholder {
  color: #9c9c9c !important;
  padding: 15px;
}

.navText {
  flex-direction: column;
  margin-left: 900px;
  align-items: start !important;
}

.navStyle {
  background-color: #FFF;
}

.infoRow2 {
  background-color: #F6F4FF;
  height: 768px;
}

.cardStyle {
  background-color: #FFF;
  border-radius: 15px !important;
  overflow: hidden;
  position: relative;
}

.fillingProgressBar {
  background-image: linear-gradient(to right, #CF473E, #CF473E);
  border-radius: 100px;
  height: 1%;
  position: absolute;
  bottom: 0;
}

.fullName {
  border: none;
  border-bottom: 1px solid #797979;
  padding: 5px;
  outline: none;
  width: 60%;
}

.fullName::placeholder {
  color: #797979;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.fullName:focus {
  border-color: #F00;
}

.infoP1 {
  color: #021A56;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.infoP2 {
  color: #AEB7CC;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.infoMainText {
  margin-top: 35px !important;
}

.cardTitle {
  color: #CF473E !important;
  font-family: Montserrat !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.cardSubTitle {
  color: #021A56 !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.contactText {
  color: #021A56 !important;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.phoneText {
  color: #CF473E !important;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.genderSpan {
  color: #CF473E !important;
  font-family: Montserrat;
  font-size: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none !important;
}

.genderContent {
  display: flex;
  flex-direction: column;
}

.input2-page2 {
  width: 8%;
  border: none;
}

.input-div-page2 {
  border-radius: 15px;
  border: 1.5px solid #021A56;
  width: 95%;
  height: 50px;
  position: relative;
}

.input-div-page2 .input2-page2{
  position: absolute;
  left: 91%;
}

.input-div-page2 .horizontal-line-pos{
  position: absolute;
  left: 85%;
  overflow-wrap: normal;
}

.input1-page2{
  width: 65%
}

.input1-page2:focus{
  outline: none;
}

.input2-page2:focus{
  outline: none;
}

input.input1-page2::placeholder {
  color: #797292;
  font-family: Poppins;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input2-page2::placeholder {
  color: #797979;
  font-family: Montserrat;
  font-size: medium;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.span1-page2 {
  color: #021A56;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.map-image {
  margin-top: 18px;
}

.info-btn-common {
  background: #F00 !important;
  border-color: #F00 !important;
}

.heading-p-page2 {
  color: #021A56;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
}

.heading-span-page2 {
  color: #F00;
}

.form-div {
  position: relative;
}

.form-div .span2-page2 {
  position: absolute;
  left: 89%;
}

.homeContent {
  flex-direction: column;
  color: #021A56 !important;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: medium;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 110% !important;
  height: 150px !important;
}

.para-page6 {
  color: #021A56 !important;
  font-family: Montserrat;
  font-size: x-large;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.span-page6 {
  border-radius: 15px !important;
  border: 1px solid #000 !important;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  color: #021A56;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.div-page6 {
  border-radius: 15px !important;
  border: 1px solid #000 !important;
  width: 243px !important;
  height: 59px !important;
}

.btn-page6 {
  margin-top: -20px;
}

.input-number-page7 {
  height: 59px !important;
  width: 50% !important;
  border-radius: 8px;
  border: 1px solid #000;
}

.input-number-page8 {
  width: 532px !important;
  height: 49px !important;
  border-radius: 8px;
  border: 1px solid #000;
}

.div-page8 {
  height: 49px !important;
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.input-border {
  border: none;
  width: 75%;
  height: 100%;
}

.span-custom-style {
  color: #F00;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.input-border:focus {
  outline: none;
}

.input-border::placeholder {
  color: #021A56;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input-number-page8::placeholder {
  color: #021A56;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 60px;
}

.para1-page9 {
  color: #000;
  font-family: Montserrat;
  font-size: x-large;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 50%;
}

.para2-page9 {
  color: #BDBDBD;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: x-small;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 50%;
}

.para3-page9 {
  color: #021A56;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: small;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
}

.para4-page9 {
  color: #636363;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: small;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
}

.label-page9 {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 13.21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
}

.input-page9 {
  border-radius: 7px;
  border: 1px solid #000;
  height: 50px !important;
  width: 50%;
}

input.input-page9::placeholder {
  color: #021A56;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: small;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 15px;
}

.h-line-page9 {
  height: 1px;
  background: #9C9C9C;
}

.text-style {
  text-align: justify;
}

.progress-bar {
  color: #F00 !important;
}

.error-full-name {
  color: #F00;
}

.home-col-2 {
  margin-left: 90px;
}

/****************************************RESPONSIVE DESIGN****************************************/
/* Media Quereies */
@media screen and (max-width: 992px) {
  .home-col-2 {
    margin-left: 200px;
    margin-top: 150px !important;
  }
  .input-page9 {
    height: 40px !important;
  }
  .para1-page9 {
    font-size: larger;
  }
  .form-div .span2-page2 {
    left: 87%;
  }
  .input-div-page2 .horizontal-line-pos {
    left: 83%;
  }
  .input-div-page2 .input2-page2{
    left: 89%;
    width: 10%;
  }
  .home-btn {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .home-col-2 {
    margin-left: 130px;
  }
  .para1-page9 {
    width: 75%;
  }
  .para2-page9 {
    width: 75%;
  }
  .para3-page9 {
    width: 75%;
  }
  .para4-page9 {
    width: 75%;
  }
  .label-page9 {
    width: 75%;
  }
  .input-page9 {
    width: 75%;
  }
  .input-number-page7 {
    width: 65% !important;
  }
  .homeContent {
    height: 135px !important;
  }
  .form-div .span2-page2 {
    left: 82%;
  }
  .input-div-page2 .horizontal-line-pos {
    left: 79%;
  }
  .input-div-page2 .input2-page2{
    left: 85%;
    width: 14%;
  }
}
@media screen and (max-width: 576px) {
  .home-col-2 {
    margin-left: 60px;
  }
  .para1-page9 {
    font-size: medium;
  }
  .para2-page9 {
    font-size: xx-small;
  }
  .para3-page9 {
    font-size: x-small;
  }
  .para4-page9 {
    font-size: x-small;
  }
  input.input-page9::placeholder {
    font-size: xx-small;
  }
  input.input1-page2::placeholder { 
    font-size: x-small;
  }
  input.input2-page2::placeholder { 
    font-size: x-small;
  }
  .input-div-page2 {
    height: 35px;
    border-radius: 10px;
  }
  .div-page8 {
    width: 75% ;
  }
  .input-number-page7 {
    width: 75% !important;
  }
  .para-page6 {
    font-size: large;
  }
  .homeContent {
    font-size: smaller;
  }
  .form-div .span2-page2 {
    left: 81%;
  }
  .input-div-page2 .horizontal-line-pos {
    left: 78%;
  }
  .input-div-page2 .input2-page2{
    left: 83%;
    width: 16%;
  }
}
/* End */